// main: style.scss


html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 14px;
}

body {
	width: 100vw;
	max-width: 100%;
	margin: 0;
	font: {
		family: 'Open Sans', sans-serif;
	}
	overflow-x: hidden;
}


ul {
	list-style-type: none;
	margin: 0;
  }

  a{
	text-decoration:none;
  }

  p{
	  margin: 0;
	  font-size: 14px;
	  @media screen and (max-width: 960px) {
        font-size: 12px;
      }
  }


  .uppercase{
	text-transform: uppercase;
  }

  h1, h2{
	  margin: 0;
	  padding: 0 0 0.5em 0;
  }

  h3{
	  font-size: 2rem;
	  @media screen and (max-width: 960px) {
        font-size: 1.5rem;
      }
  }


  .titre{
	background: $color1;
	color: $white;
	h1{
	  font-size: 3em;
	  padding: 2rem 0 1rem 0;
	  margin: $box;
	  @media screen and (max-width: $screenMedium) {
		margin: $smallBox;
  	  }
	}
	p{
	  font-size: 1em;
	  padding: 0em 2em 1.5em 0;
	  margin: $box;
	  @media screen and (max-width: $screenMedium) {
		margin: $smallBox;
  	  }
	}
  }

  ul{
	  margin: 0;
	  padding: 0;
  }

.btn{
	display: block;
	background-color: $color1;
	color: $white;
	border-radius: 3px;
	border: none;
	padding: 20px 30px;
	text-transform: uppercase;
	margin: 2rem;
	height: 100%;


	&:hover{
		background-color: $color7;
		color: $white;
		cursor: pointer;
		moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		  
	}
}

label{
	display: none;
}




