// main: style.scss


/**-----------------------------------------------------------
COULEURS
----------------------------------------------------------- */
$color1: #414e64;
$color2: #F0F0F0;
$color3: #333;
$color4: #f5f5f5;
$color5: #666;
$color6: #d9ddde;
$color7: #401aff;
$color8: #2300d3;
$black: #333;
$white: #fff;



/**-----------------------------------------------------------
BREAKPOINTS
----------------------------------------------------------- */
$screenSmall: 620px;
$screenMedium: 960px;
$screenLarge: 1260px;





/**-----------------------------------------------------------
MARGIN
----------------------------------------------------------- */

$box: 0 10%;
$smallBox: 0 3%!important;


/**-----------------------------------------------------------
var
----------------------------------------------------------- */

$box: 0 10%;
$smallBox: 0 3%!important;



/**-----------------------------------------------------------
var
----------------------------------------------------------- */

/* Define mixin with two arguments */
@mixin bordered($color, $width) {
    border: $width solid $color;
  }