// main: style.scss


/**-----------------------------------------------------------
COULEURS
----------------------------------------------------------- */
$color1: #012C9C;
$color2: #F0F0F0;
$color3: #333;
$color4: #f0f0f0;
$color5: #7b7b7b;
$color6: #d9ddde;
$black: #000;
$white: #fff;


