.breadcrumb{
    margin: $margin;
    ul{
      display: flex;
      flex-direction: row;

      li{
        border-right: 1px solid $color2;
        padding: 0.5rem;

        a{
          color: $color3;
          padding: 0.3rem;
        }
        :hover{
          background-color: $color6;
          padding: 0.3rem;
        }
      }

      li:first-child{
        border-left: 1px solid $color2;
      }
    }

  }