footer{
    .footerInfos{
        background-color: $color1;
        color: $white;
        display: flex;
        flex-direction: row;
        padding: 2rem 10rem;
        gap : normal 10%;
    }
}

    .footerNav{
        margin: 2rem 0;
        display: flex;
        list-style: none;
        justify-content: center;

            a{
                color: #333;
                &:hover{
                    color: $color1;
                }
            }

            li{
            padding: 0 2em;
            font-weight: lighter;
            }

            li:not(:last-child) {
            border-right: 1px solid $color5;
            }

    }


.contactBtn{
    display: block;
	background-color: $white;
	border-radius: 3px;
	border: none;
	padding: 20px 30px;
	text-transform: uppercase;
	margin: 1.3rem 0;
    a{
        display: block;
        color: $color1;

        i{
            padding-right: 0.5rem;
        }

    }
    &:hover{
        background-color: $color7;
        color: $white;
        cursor: pointer;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}