// main: ../style.scss

header {
    position: relative;
    .menu_desktop{
      @media screen and (max-width: 960px) {
        display: none;
      }
      display: flex;
      padding: 2em 0;
      justify-content: center;
      background: $black; 

        a{
          color: $white;
        }
        a:hover{
          color: $color7;
        }
    }
    

    #menu_principal{
      display: flex;
      justify-content: space-around;
      list-style: none; 
      text-transform: uppercase;

        li{
          padding: 0 1.2em;
          font-weight: lighter;

          &:not(:last-child) {
            border-right: 1px solid $white;
          }
        }
    }

    .menu_pictos ul{
      display: flex;
      flex-direction: row;

        li{
          padding: 0 2em 0 0;

          &:before{
            font-size: 1.2rem;
          }
        }
    }

}





